<a href="https://colab.research.google.com/github/victordibia/taxi/blob/main/notebooks/data_exploration.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Download Data

- Ingest sample data from NY Taxi Data

In [ ]:
!mkdir data
!mkdir data/zones
!wget -O data/january.csv https://s3.amazonaws.com/nyc-tlc/trip+data/yellow_tripdata_2020-01.csv
!wget -O data/june.csv https://s3.amazonaws.com/nyc-tlc/trip+data/yellow_tripdata_2020-06.csv
!wget -O data/zoneshape.zip https://s3.amazonaws.com/nyc-tlc/misc/taxi_zones.zip 
!wget -O data/zonelookup.zip https://s3.amazonaws.com/nyc-tlc/misc/taxi+_zone_lookup.csv
!unzip data/zoneshape.zip -d data/zones

--2020-12-16 05:03:30--  https://s3.amazonaws.com/nyc-tlc/trip+data/yellow_tripdata_2020-01.csv
Resolving s3.amazonaws.com (s3.amazonaws.com)... 52.216.88.149
Connecting to s3.amazonaws.com (s3.amazonaws.com)|52.216.88.149|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 593610736 (566M) [text/csv]
Saving to: ‘data/january.csv’

data/january.csv    100%[===================>] 566.11M  97.6MB/s    in 5.9s

2020-12-16 05:03:36 (95.9 MB/s) - ‘data/january.csv’ saved [593610736/593610736]

--2020-12-16 05:03:36--  https://s3.amazonaws.com/nyc-tlc/trip+data/yellow_tripdata_2020-06.csv
Resolving s3.amazonaws.com (s3.amazonaws.com)... 52.217.37.134
Connecting to s3.amazonaws.com (s3.amazonaws.com)|52.217.37.134|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 50277193 (48M) [text/csv]
Saving to: ‘data/june.csv’

data/june.csv       100%[===================>]  47.95M   112MB/s    in 0.4s

2020-12-16 05:03:37 (112 MB/s) - ‘data/june.csv’ saved [50277193/50277193]

--2020-12-16 05:03:37--  https://s3.amazonaws.com/nyc-tlc/misc/taxi_zones.zip
Resolving s3.amazonaws.com (s3.amazonaws.com)... 52.217.109.254
Connecting to s3.amazonaws.com (s3.amazonaws.com)|52.217.109.254|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 1025147 (1001K) [application/zip]
Saving to: ‘data/zoneshape.zip’

data/zoneshape.zip  100%[===================>]   1001K  --.-KB/s    in 0.08s

2020-12-16 05:03:37 (11.8 MB/s) - ‘data/zoneshape.zip’ saved [1025147/1025147]

--2020-12-16 05:03:37--  https://s3.amazonaws.com/nyc-tlc/misc/taxi+_zone_lookup.csv
Resolving s3.amazonaws.com (s3.amazonaws.com)... 52.217.109.254
Connecting to s3.amazonaws.com (s3.amazonaws.com)|52.217.109.254|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 12322 (12K) [application/octet-stream]
Saving to: ‘data/zonelookup.zip’

data/zonelookup.zip 100%[===================>]  12.03K  --.-KB/s    in 0s

2020-12-16 05:03:37 (84.8 MB/s) - ‘data/zonelookup.zip’ saved [12322/12322]

Archive:  data/zoneshape.zip
  inflating: data/zones/taxi_zones.prj
  inflating: data/zones/taxi_zones.dbf
  inflating: data/zones/taxi_zones.shp
  inflating: data/zones/taxi_zones.shp.xml
  inflating: data/zones/taxi_zones.shx
  inflating: data/zones/taxi_zones.sbn
  inflating: data/zones/taxi_zones.sbx

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
jan_df = pd.read_csv("data/january.csv")
jan_df

/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (6) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

         VendorID tpep_pickup_datetime  ... total_amount  congestion_surcharge
0             1.0  2020-01-01 00:28:15  ...        11.27                   2.5
1             1.0  2020-01-01 00:35:39  ...        12.30                   2.5
2             1.0  2020-01-01 00:47:41  ...        10.80                   2.5
3             1.0  2020-01-01 00:55:23  ...         8.16                   0.0
4             2.0  2020-01-01 00:01:58  ...         4.80                   0.0
...           ...                  ...  ...          ...                   ...
6405003       NaN  2020-01-31 22:51:00  ...        21.14                   0.0
6405004       NaN  2020-01-31 22:10:00  ...        62.46                   0.0
6405005       NaN  2020-01-31 22:50:07  ...        51.90                   0.0
6405006       NaN  2020-01-31 22:25:53  ...        30.22                   0.0
6405007       NaN  2020-01-31 22:44:00  ...        58.11                   0.0

[6405008 rows x 18 columns]